:root {
    font-size: 1em;
}

@font-face {
    font-family: "Norse Bold";
    src: local("Norse Bold"), url(./fonts/Norse-Bold.otf) format("opentype");
}

html body {
    font-family: "Norse Bold";
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.side-section {
    background-image: url(./images/halie-west-sidebar-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    width: 60vw;
    height: 100vh;
    min-width: 23.25rem;
    flex: 1;
    justify-content: center;
    align-items: center;

    /* border: 0.1px solid green; */
}

.side-section > div.logo-container {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
}

.side-section img {
    width: 7rem;
    padding: 0.625rem;
}

.side-section p {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 0.75rem;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 4px 0px;
    margin: 0px;
    text-align: center;
}

.side-section a {
    color: white;
    text-decoration: underline;
}

.content-section {
    background-color: rgb(250, 250, 250, 1);
    width: 60vw;
    height: 100vh;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.content-section .header-section {
    font-size: 1.6rem;
    padding: 1.4rem;
}

.content-section .form-section {
    background-color: white;
    padding: 1.4rem;
}

.content-section .submit-section {
    padding: 1.4rem;
}

.content-section .submit-section button {
    background-color: rgb(89, 109, 72);
    color: white;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    font-family: "Norse Bold";
    font-weight: 700;
    padding: 0.8rem 1.6rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.255);
}

.content-section .submit-section a {
    color: rgb(89, 109, 72);;
    text-decoration: none;
}